<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo align-items-center d-flex justify-content-center">
    <a href="/dashboard" class="app-brand-link" style="display: flex; justify-content: center; align-items: center;">
      <img src="/<%= components?.logo_apk %>" 
           alt="Logo" 
           style="max-width: 100px; height: auto; object-fit: contain;">
    </a>
  </div>   
    <li class="menu-header small">
      <span class="menu-header-text" data-i18n="Apps & Pages">Apps &amp; Pages</span>
  </li>
    <ul class="menu-inner py-1">
      <li class="menu-item"><a href="/dashboard" class="menu-link"><i class="menu-icon tf-icons ti ti-layout-dashboard"></i>Dashboard</a></li>
      <li class="menu-item"><a href="/home" class="menu-link"><i class="menu-icon tf-icons ti ti-home-2"></i>Home</a></li>
      <li class="menu-item"><a href="/about" class="menu-link"><i class="menu-icon tf-icons ti ti-user"></i>About Me</a></li>
      <li class="menu-item"><a href="/services" class="menu-link"><i class="menu-icon tf-icons ti ti-briefcase"></i>Services</a></li>
      <li class="menu-item"><a href="/news" class="menu-link"><i class="menu-icon tf-icons ti ti-news"></i>News</a></li>
      <li class="menu-item"><a href="/portofolio" class="menu-link"><i class="menu-icon tf-icons ti ti-photo"></i>Portfolio</a></li>
      <li class="menu-item"><a href="/settings" class="menu-link"><i class="ti ti-settings me-3 ti-md"></i>Settings</a></li>
    </ul>
  </aside>
  