<footer class="footer">
  <div class="footer-container">
    <!-- Kiri -->
    <div class="footer-left">
      <img src="/homepage/images/ramah teknologi.png" alt="Logo ramah teknologi" class="footer-logo">
      <p>Ramah Teknologi adalah perusahaan IT yang berfokus pada pengembangan solusi teknologi inovatif untuk membantu transformasi digital bisnis di Indonesia.</p>
      <div class="social-icons">
        <a href="https://www.facebook.com/NamaHalamanFacebook" target="_blank">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com/pratamatechsolution2025/" target="_blank">
            <i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/company/pratamatechsolution/people/?facetGeoRegion=102478259&facetSchool=4821019%2C15094226%2C76186118%2C13410018" target="_blank">
            <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="#"><i class="fab fa-x-twitter"></i></a>
      </div>
    </div>

    <!-- Tengah -->
    <div class="footer-center">
      <h3>Our Service</h3>
      <ul>
        <li>Pengembangan Software</li>
        <li>Computer Network</li>
        <li>Advertising</li>
        <li>Event Organizer</li>
      </ul>
    </div>

    <!-- Kanan -->
    <div class="footer-right">
      <h3>Contact</h3>
      <p>Jl. Rusa I No.57, Nagri Kidul, Kec. Purwakarta, Kabupaten Purwakarta, Jawa Barat 41111</p>
      <p><i class="fas fa-phone"></i> 0851-5656-2493</p>
      <p><i class="fas fa-envelope"></i> Info@ramahtechsolution.co.id</p>
    </div>
  </div>
  <div class="footer-bottom">
    <p>Copyright © 2025 ramahtech. All Rights Reserved.</p>
  </div>
</footer>

<!-- Font Awesome CDN untuk icon -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


<!-- AOS LIBRARY -->
<script src="/aos/dist/aos.js"></script>
<script>
  AOS.init({
    duration: 1000,
    once: false,
    mirror: true,
    easing: 'ease-in-out'
  });
</script>



