<header id="navbar">
  <a href="/"><img src="/homepage/images/ramah teknologi.png" alt="Logo" class="logo"></a>
  <nav>
   <a href="/">Home</a>
    <a href="/profil">Profil</a>
    <a href="/services">Services</a>
    <a href="/news">News</a>
    <a href="/portofolio">Portofolio</a>
  </nav>
   <a href="https://wa.me/6281234567890" target="_blank" class="cta-button">Hubungi Kami</a>
</header>